<div class="jumbotron">
    <h1>PELICULAS APP</h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Peliculas</h2>
           <div>
               <table id="tblList" class="table table-bordered table-hover">
                   <thead>
                       <tr>
                           <th>Nombre</th>
                           <th>Actor</th>
                           <th>Genero</th>
                           <th>Año</th>
                       </tr>
                       </thead>
                   <tbody></tbody>
                   </table>
            </div>
    </div>
    <div class="col-md-4">

        <h2>Buscar Pelicula</h2>
        <div>
            <ul>
                <li>
                    <label>Id:</label>
                    <input type="text" id="txtIdSearch" />
                    <input type="button" id="btnSearch" value="Buscar" />
                </li>
                <li>
                    <label>Nombre:</label>
                    <input type="text" id="txtNombre" />
                </li>
                <li>
                    <label>Actor:</label>
                    <input type="text" id="txtActor" />
                </li>
                <li>
                    <label>Genero:</label>
                    <input type="text" id="txtGenero" />
                </li>
                <li>
                    <label>Año:</label>
                    <input type="text" id="txtAño" />
                </li>
                <div>
                    <input type="button" id="btnCreate" value="Create" />
                    <input type="button" id="btnDelete" value="Delete" />
                    <input type="button" id="btnUpdate" value="Update" />
                </div>
            </ul>
        </div>
      
    </div>
    
</div>

@section scripts
{

<script type="text/javascript" src="@Url.Content("/Scripts/app/peli.js")"></script>

}
